@media(max-width: 767px){
    .center{
        padding-left: 16px;
        padding-right: 16px;
    }
    .top{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 735px;
    }
    .title{
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        text-align: center;
        width: 343px;
        &_text{
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            width: 343px;
        }
    }
    .game{
        width: 343px;
        height: 300px;
        &_catalog{
            height: 1221px;
            
        }
        &_box{
            flex-direction: column;
        }
    }
}